<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Login Page</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/default.css}" />
<!--    <link rel="stylesheet" type="text/css" href="default.css">-->
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>

<div style="text-align: center;">
    <h1>Welcome</h1>
</div>

<form th:action="@{/login}" method="post">
    <div style="text-align: center;">
        <label>
            <h4>Login
                <br>
                <input type="text" name="username"/>
            </h4>
        </label>
    </div>
    <div style="text-align: center;">
        <label>
            <h4>Password
                <br>
                <input type="password" name="password"/>
            </h4>
        </label></div>
    <div style="text-align: center;">
        <h3>
            <button type="submit" class="button">Submit</button>
        </h3>
    </div>
</form>
</body>
</html>